@model  SLAP_App.Models.AssociateSelectionViewModel
@{
    ViewBag.Title = "Associates";
}

<h2>Add Associates for @ViewBag.pcName</h2>

@using (Html.BeginForm("AssignAssociates", "Admin",FormMethod.Post))
{
    @Html.Hidden("pcId", (string)ViewBag.PCid.ToString())
	<table class="table">
        <tr>
           
        <th>
            Select
        </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        @for (var i=0;i<Model.PcAssociateUserViewModels.Count;i++)
        {
          
            <tr>
                <td style="text-align:center">
                    @Html.CheckBoxFor(itemModel=>itemModel.PcAssociateUserViewModels[i].Selected)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => itemModel.PcAssociateUserViewModels[i].AssociateDisplayName)
                </td>
                <td>
                    @Html.HiddenFor(itemModel => itemModel.PcAssociateUserViewModels[i].AssociateUserId)
                </td>
                <td>
                    @Html.HiddenFor(itemModel => itemModel.PcAssociateUserViewModels[i].PCUserId)
                </td>
               
            </tr>
        }
@*        @Html.EditorFor(model => model.PCAssociateUserEditorViewModel)*@
    </table>
    <hr />
    <br />
    <input type="submit" @*name="operation" id="submit"*@ value="Assign Associates" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
