@using SLAP_App.Models
@model List<Value>

@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>

<table>
    @foreach (Value user in Model)
    {
        <tr>
            <td width="150">
                @user.givenName
                @Html.HiddenFor(model => user.id)
            </td>
            <td>
                @if (user.IsPC)
                {
                    @Html.ActionLink("Remove PC", "RemovePC", "Admin", new { Id = user.id }, null)
                }
                else
                {
                    @Html.ActionLink("Make a PC", "MakePC", "Admin", new { Id = user.id}, null)
                }
            </td>
            <td>
                @if (user.IsPC)
                {
                    @Html.ActionLink("Assign Associates", "AssignAssociates", "Admin", new { pcID = user.id }, null)
                }
            </td>
        </tr>
    }

</table>