@model SLAP_App.Models.AppraisalSeasonViewModel

@{
	IList<SLAP_App.Models.PCAssociateViewModel> pcAssociateViewModels = (IList<SLAP_App.Models.PCAssociateViewModel>)ViewBag.PcAssociateViewModels;
}

<div>
	<h4>Appraisal Season</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsActive)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsActive)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PeerListFinalizationByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PeerListFinalizationByDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendPeerFeedbackRequestByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendPeerFeedbackRequestByDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendPeerFeedbackByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendPeerFeedbackByDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SelfAppraisalSubmissionByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SelfAppraisalSubmissionByDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AppraisalMeetingByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AppraisalMeetingByDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.GoalSettingByDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.GoalSettingByDate)
		</dd>

	</dl>

	<div>
		@if (pcAssociateViewModels.Count > 0)
		{
			foreach (var pcAssociatesByPC in pcAssociateViewModels.GroupBy(x => x.PCUserId))
			{
				<div class="pc-associate-box">
					<div class="bold">@pcAssociatesByPC.First().PCDisplayName</div>
					<ul>
						@foreach (var pcAssociate in pcAssociatesByPC)
						{
							<li>@pcAssociate.AssociateDisplayName</li>
						}
					</ul>
				</div>
			}
		}
		else
		{
			<div>
				<font color="red">
					<div>PC - Associate configuration not found. Season cannot be started without that configuration.</div>
					<div>Show a list of PCs that don't have associates</div>
					<div>Show a list of associates that don't have PC</div>
				</font>
			</div>
		}
	</div>
	<div style="clear: both;"></div>
</div>
