@model SLAP_App.Models.AppraisalSeasonViewModel

@{
    ViewBag.Title = "Start";
	IList<SLAP_App.Models.PCAssociateViewModel> pcAssociateViewModels = (IList<SLAP_App.Models.PCAssociateViewModel>)ViewBag.PcAssociateViewModels;
}

<h2>Start</h2>

<h3>Please reivew appraisal season data below. Are you sure you are ready to start the season?</h3>
<div>
    <h4>Appraisal Season</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeerListFinalizationByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeerListFinalizationByDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendPeerFeedbackRequestByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendPeerFeedbackRequestByDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendPeerFeedbackByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendPeerFeedbackByDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfAppraisalSubmissionByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfAppraisalSubmissionByDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppraisalMeetingByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppraisalMeetingByDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalSettingByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalSettingByDate)
        </dd>

    </dl>

	<div>
	@foreach(var pcAssociatesByPC in pcAssociateViewModels.GroupBy(x => x.PCUserId))
	{
		<div class="pc-associate-box">
			<div class="bold">@pcAssociatesByPC.First().PCDisplayName</div>
			<ul>
				@foreach (var pcAssociate in pcAssociatesByPC)
				{
					<li>@pcAssociate.AssociateDisplayName</li>
				}
			</ul>
		</div>
	}
	</div>
	<div style="clear: both;"></div>
	<hr />
    @using (Html.BeginForm()) {
@*        @Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Start" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index", "Home")
        </div>
    }
</div>
