@{
	ViewBag.Title = "Home Page";
	SLAP_App.Models.AppraisalSeasonViewModel activeAppraisalSeason = (SLAP_App.Models.AppraisalSeasonViewModel)ViewBag.ActiveAppraisalSeason;
}

<div class="jumbotron">
	<h1>Appraisal Season</h1>
	<p class="lead">You can view list of all existing appraisal seasons by clicking on view.</p><br />
	<p>
		@if (activeAppraisalSeason == null)
		{
			<font color="red">There is no active appraisal season.</font>
		}
		else
		{
			if (activeAppraisalSeason.IsActive)
			{
				<font color="green">Current active appraisal season: @activeAppraisalSeason.Name</font>
			}
			else
			{
				<font color="blue">Current under preparation appraisal season: @activeAppraisalSeason.Name</font>
			}

		}
	</p>
	<p>
		@if (activeAppraisalSeason == null)
		{
			<a href="@Url.Action("Create", "AppraisalSeason")" class="btn btn-primary btn-lg">Create &raquo;</a>
		}
		else
		{
			if (!activeAppraisalSeason.IsActive)
			{
				<a href="@Url.Action("Start", "AppraisalSeason", new { id = activeAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg float-right"
				   @if (!activeAppraisalSeason.AreAllDatesSet()) { @: onClick="alert('One or more dates for appraisal season are not set. Please edit appraisal season to set the dates before starting the season.'); return false;"
				   }>Start &raquo;</a>
				<a href="@Url.Action("Edit", "AppraisalSeason", new { id = activeAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">Edit &raquo;</a>
				<a href="@Url.Action("Delete", "AppraisalSeason", new { id = activeAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">Delete &raquo;</a>
			}
			else
			{
				<a href="@Url.Action("View", "AppraisalSeason", new { id = activeAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">View &raquo;</a>
				<a href="@Url.Action("Complete", "AppraisalSeason", new { id = activeAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg float-right">Complete &raquo;</a>
			}
		}
	</p>
</div>

@if (activeAppraisalSeason != null)
{
	if (!activeAppraisalSeason.IsActive)
	{
		<div class="jumbotron">
			<h1>Employee Hierarchy</h1>
			<p class="lead">You can view list of user and change the hierarchy</p><br />
			<p><a href="@Url.Action("Index", "Admin")" class="btn btn-primary btn-lg">View &raquo;</a></p>
		</div>
	}

	<div class="jumbotron">
		<h1>Associates</h1>
		<p class="lead">You can view list of associates</p><br />
		<p><a href="@Url.Action("Index", "PC")" class="btn btn-primary btn-lg">View &raquo;</a></p>
	</div>
	<div class="jumbotron">
		<h1>Employees</h1>
		<p class="lead">You can view list of your peers</p><br />
		<p><a href="@Url.Action("Index", "Employee")" class="btn btn-primary btn-lg">View &raquo;</a></p>
	</div>
	@*<div class="row">*@
	@*    <div class="col-md-4">*@
	@*        <h2>Getting started</h2>*@
	@*        <p>*@
	@*            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that*@
	@*            enables a clean separation of concerns and gives you full control over markup*@
	@*            for enjoyable, agile development.*@
	@*        </p>*@
	@*        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
	@*    </div>*@
	@*    <div class="col-md-4">*@
	@*        <h2>Get more libraries</h2>*@
	@*        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
	@*        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
	@*    </div>*@
	@*    <div class="col-md-4">*@
	@*        <h2>Web Hosting</h2>*@
	@*        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
	@*        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
	@*    </div>*@
	@*    @Html.ActionLink("List of Appraisal Processes", "Index", "AppraisalProcesses")*@
	@*</div>*@
}