@{
	ViewBag.Title = "Home Page";
	SLAP_App.Models.AppraisalSeasonViewModel inProgressAppraisalSeason = (SLAP_App.Models.AppraisalSeasonViewModel)ViewBag.InProgressAppraisalSeason;
	List<SLAP_App.Models.PCAssociateViewModel> pcAssociateViewModels = ViewBag.PcAssociateUserViewModels;
	SLAP_App.Models.User loggedInUser = (SLAP_App.Models.User)ViewBag.LoggedInUser;
}

<div class="jumbotron">
	<h1>Appraisal Season</h1>
	<p class="lead">You can view list of all existing appraisal seasons by clicking on view.</p><br />
	<p>
		@if (inProgressAppraisalSeason == null)
		{
			<font color="red">There is no active appraisal season.</font>
		}
		else
		{
			if (inProgressAppraisalSeason.IsActive)
			{
				<font color="green">Current active appraisal season: @inProgressAppraisalSeason.Name</font>
			}
			else
			{
				<font color="blue">Current under preparation appraisal season: @inProgressAppraisalSeason.Name</font>
			}

		}
	</p>
	@if (loggedInUser.IsAdmin)
	{
		<p>
			@if (inProgressAppraisalSeason == null)
			{
				<a href="@Url.Action("Create", "AppraisalSeason")" class="btn btn-primary btn-lg">Create &raquo;</a>
			}
			else
			{
				if (!inProgressAppraisalSeason.IsActive)
				{
					<a href="@Url.Action("Start", "AppraisalSeason", new { id = inProgressAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg float-right"
					   @if (!inProgressAppraisalSeason.AreAllDatesSet()) { @: onClick="alert('One or more dates for appraisal season are not set. Please edit appraisal season to set the dates before starting the season.'); return false;"
					   }>Start &raquo;</a>
					<a href="@Url.Action("Edit", "AppraisalSeason", new { id = inProgressAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">Edit &raquo;</a>
					<a href="@Url.Action("Delete", "AppraisalSeason", new { id = inProgressAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">Delete &raquo;</a>
				}
				else
				{
					<a href="@Url.Action("View", "AppraisalSeason", new { id = inProgressAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg">View &raquo;</a>
					<a href="@Url.Action("Complete", "AppraisalSeason", new { id = inProgressAppraisalSeason.AppraisalSeasonId } )" class="btn btn-primary btn-lg float-right">Complete &raquo;</a>
				}
			}
		</p>
	}
</div>

@if (inProgressAppraisalSeason != null)
{
	if (!inProgressAppraisalSeason.IsActive)
	{
		<div class="jumbotron">
			<h1>Employee Hierarchy</h1>
			<p class="lead">You can view list of user and change the hierarchy</p><br />
			<p><a href="@Url.Action("Index", "Admin")" class="btn btn-primary btn-lg">View &raquo;</a></p>
		</div>
	}

	if (inProgressAppraisalSeason.IsActive)
	{
		if (loggedInUser.IsPC)
		{
			<div class="jumbotron overflow-auto">
				<h1>My Associates</h1>
				@*<p class="lead">You can view list of associates</p><br />
					<p><a href="@Url.Action("Index", "PC")" class="btn btn-primary btn-lg">View &raquo;</a></p>*@

				<div class="float-left">
					@for (var i = 0; i < pcAssociateViewModels.Count; i++)
					{
						@Html.Partial("../PC/_pcAssociateView", pcAssociateViewModels[i]);
					}
				</div>
			</div>
		}
		<div class="jumbotron overflow-auto">
			<h1>Myself - @loggedInUser.displayName</h1>
			<div class="overflow-auto">
				<div class="float-left">
					<h2>
						PC: @if (loggedInUser.PCAssociateModel != null)
						{@Html.Raw(loggedInUser.PC.displayName);
					}
					else
					{ @Html.Raw("<font color='red'>PC assignment not done yet</font>");
				}
					</h2>
				</div>
				<div class="float-right">
					Self appraisal form:
					@if (loggedInUser.PCAssociateModel != null && !string.IsNullOrEmpty(loggedInUser.PCAssociateModel.SelfAppraisalDocumentUrl))
					{
						<a href="@loggedInUser.PCAssociateModel.SelfAppraisalDocumentUrl" title="Download Self Appraisal Form"><span class="glyphicon glyphicon-download color-green"></span></a>@:&nbsp;&nbsp;&nbsp;
					}
					<a href="javascript:return false;" title="Upload Self Appraisal Form" class="uploadSelfAppraisalForm"
					   data-feedback-for="@loggedInUser.id"
					   data-feedback-for-name="@loggedInUser.displayName"
					   data-record-id="@(loggedInUser.PCAssociateModel != null ? loggedInUser.PCAssociateModel.PCAssociatesId : 0)">
						<span class="glyphicon glyphicon-upload color-blue"></span>
					</a>
				</div>
			</div>
			<div class="overflow-auto">
				<div class="float-left width-48 small-margin">
					@if (loggedInUser.PCAssociateModel != null && loggedInUser.PCAssociateModel.PeerListFinalized)
					{
						<table border="1" class="width-100" cellpadding="5">
							<thead>
								<tr>
									<th>Seeking Feedback From</th>
									<th>Status</th>
								</tr>
							</thead>
							@foreach (var peer in loggedInUser.SeekingFeedbackFrom)
							{
								<tr>
									<td>@peer.PeerName</td>
									<td>
										@if (string.IsNullOrEmpty(peer.FeedbackDocumentUrl))
										{
											<span class="glyphicon glyphicon-remove-circle color-red" title="Not provided"></span>
										}
										else if (peer.ShareFeedbackWithAssociate)
										{
											<a href="@peer.FeedbackDocumentUrl" title="Download Feedback From Peer"><span class="glyphicon glyphicon-download color-green" title="Download"></span></a>
										}
										else
										{
											<span class="glyphicon glyphicon-ok color-green" title="Provided, but not shared"></span>
										}
									</td>
								</tr>
							}
						</table>
					}
					else
					{
						@Html.Raw("<font color='red'>Peer list is not finalized yet</font>");
					}
				</div>
				<div class="float-left width-48 small-margin">
					@if (loggedInUser.SendingFeedbackTo != null && loggedInUser.SendingFeedbackTo.Count > 0)
					{
						<table border="1" class="width-100" cellpadding="5">
							<thead>
								<tr>
									<th>Sending Feedback To</th>
									<th>Current Version</th>
									<th>Upload</th>
								</tr>
							</thead>
							@foreach (var peer in loggedInUser.SendingFeedbackTo)
							{
								<tr>
									<td>@peer.AssociateName</td>
									<td>
										@if (string.IsNullOrEmpty(peer.FeedbackDocumentUrl))
										{
											<span class="glyphicon glyphicon-remove-circle color-red" title="Not provided"></span>
										}
										else
										{
											<a href="@peer.FeedbackDocumentUrl" title="Download Feedback For Peer"><span class="glyphicon glyphicon-download color-green" title="Download"></span></a>
										}
									</td>
									<td>
										<a href="javascript:return false;" title="Upload Peer Feedback Form" class="uploadPeerFeedbackForm"
										   data-record-id="@peer.PeerAssociateId"
										   data-feedback-from="@peer.PeerUserId"
										   data-feedback-from-name="@peer.PeerName"
										   data-feedback-for="@peer.AssociateUserId"
										   data-feedback-for-name="@peer.AssociateName">
											<span class="glyphicon glyphicon-upload color-blue"></span>
										</a>
									</td>
								</tr>
							}
						</table>
					}
					else
					{
						@Html.Raw("<font color='red'>No one is seeking feedback from you yet</font>");
					}
				</div>
			</div>
		</div>

		<div id="uploadSelfAppraisalFormDialog" title="Upload Self Appraisal Form" style="display: none">
			@using (Html.BeginForm("UpdateSelfAppraisal", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadSelfAppraisalForm" }))
			{
				<div class="width-100"><label class="width-20" for="selfAppraisalForName">For:</label><span id="selfAppraisalForName"></span></div>
				<div class="width-100"><label class="width-20" for="selfAppraisalFileName">Document:</label><span id="selfAppraisalFileName" class="overflow-hidden"></span><label class="fileContainer float-right">...<input type="file" name="file" onchange="javascript: $('#selfAppraisalFileName').text(this.files.item(0).name);" /></label></div>
				<input type="hidden" name="feedbackFor" value="" />
				<input type="hidden" name="feedbackForName" value="" />
				<input type="hidden" name="pcAssociateId" value="" />
			}
		</div>

		<div id="uploadPeerFeedbackFormDialog" title="Upload Peer Feedback Form" style="display: none">
			@using (Html.BeginForm("UpdateFeedback", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadPeerFeedbackForm" }))
			{
				<div class="width-100"><label class="width-20" for="peerFeedbackFromName">From:</label><span id="peerFeedbackFromName"></span></div>
				<div class="width-100"><label class="width-20" for="peerFeedbackForName">To:</label><span id="peerFeedbackForName"></span></div>
				<div class="width-100"><label class="width-20" for="peerFeedbackFileName">Document:</label><span id="peerFeedbackFileName" class="overflow-hidden"></span><label class="fileContainer float-right">...<input type="file" name="file" onchange="javascript: $('#peerFeedbackFileName').text(this.files.item(0).name);" /></label></div>
				<input type="checkbox" name="shareWithPeer" id="shareWithPeer" value="true" /> <label for="shareWithPeer">Share with peer</label>
				<input type="hidden" name="shareWithPeer" value="false" />
				<input type="hidden" name="feedbackFor" value="" />
				<input type="hidden" name="feedbackForName" value="" />
				<input type="hidden" name="feedbackFrom" value="" />
				<input type="hidden" name="feedbackFromName" value="" />
				<input type="hidden" name="peerAssociateId" value="" />
			}
		</div>
		@section scripts {
			@Scripts.Render("~/Scripts/main.js")
			@Styles.Render("~/Content/themes/base/css")
		}
	}
}