@*@using System.Drawing;*@

@model SLAP_App.Models.PCAssociateViewModel
@{
    var pcAssociateViewModel=Model;
}
 
<div class="pc-associate-box">
    <b class="large-margin-right">@Html.DisplayFor(model => model.AssociateDisplayName)  </b>
    @if (!pcAssociateViewModel.PeerListFinalized)
    {
        <div style="float: right;"> @Html.ActionLink("Peers", "AssignPeersToAssociates", "PC", pcAssociateViewModel, new {@class = "btn btn-primary btn-sm"})</div>
    }
    else
    {
        <div class="float-right">Self appraisal form:
        @if (!string.IsNullOrEmpty(pcAssociateViewModel.SelfAppraisalDocumentUrl))
        {
            <a href="@Model.SelfAppraisalDocumentUrl" class="btn btn-primary btn-sm" target="_blank" title="Download Self Appraisal Form">Download</a>
        }
        else
        {
            @:NA
         }
        </div>

    }
        <table class="table">
            <tr>
                <th>
                    Peer
                </th>
                @if (pcAssociateViewModel.PeerListFinalized)
                {
                    <th>
                        Feedback Form
                    </th>
                }
               
            </tr>
            @for (var i = 0; i < Model.Peers.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => Model.Peers[i].PeerName)
                    </td>
                    @if (pcAssociateViewModel.PeerListFinalized)
                    {
                        <td>
                        @if ((!string.IsNullOrEmpty(Model.Peers[i].FeedbackDocumentUrl)))
                            {
                                <a href="@Model.Peers[i].FeedbackDocumentUrl" target="_blank" title="Download Feedback form">Download</a>
                            }
                            else
                            {
                                @:NA
                            }
                        </td>
                    }
                </tr>
            }
        </table>
</div>



