@model IEnumerable<SLAP_App.Models.PCAssociateUserViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssociateDisplayName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Selected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssociateDisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssociateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCAssociateId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
