@model IEnumerable<SLAP_App.Models.PCAssociateViewModel>

@*<p>
    @Html.ActionLink("Create New", "AddNewPeer",new {associateId=@ViewBag.AssociateId})
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssociateDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCAssociatesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssociateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppraisalProcessId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelfAppraisalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppraisalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNotificationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.AssociateDisplayName, "Associate", new { associateId = item.AssociateUserId }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCAssociatesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssociateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppraisalProcessId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfAppraisalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppraisalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNotificationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAssociate", new { pcAssociateId = item.PCAssociatesId  })
            @*|
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
